section.ds-carousel-logo {
  margin: 15px 0 0 0;

  .container {
    position: relative;

    .row {
      border-radius: 8px;
      flex-wrap: nowrap;
      overflow: scroll;

      a {
        align-items: center;
        background: #F4F4F6;
        border-radius: 8px; 
        display: flex;
        height: 140px;
        justify-content: center;
        margin: 0 7.5px;
        position: relative;
        width: 140px;

        img {
          filter: grayscale(100%);
          width: 60px;
        }

        .action-icon {
          font-size: 18px;
          position: absolute;
          right: 15px;
          top: 15px;
        }
      }
    }

    .row::-webkit-scrollbar {
      display: none;
    }
  }
}