section.ds-carousel-text {
  margin: 15px 0 0 0;

  .container {
    position: relative;

    .row {
      border-radius: 8px;
      flex-wrap: nowrap;
      overflow: scroll;
    }

    .row::-webkit-scrollbar {
      display: none;
    }
  }
}