form.ds-form {
  line-height: 18px;
  margin: 15px 0 0 0;
  padding: 0 12px;

  ::placeholder {
    color: #A3A3A3;
    //opacity: 1;
  }

  .checkbox, .select, .text {
    margin: 15px 0 0 0;

    label {
      color: #7B7B7B;
      font-size: 13px;
    }

    label:first-child {
      margin: 0 0 6px 0;
    }
  }

  .checkbox {
    align-items: center;
    display: inline-flex;
    position: relative;

    input {
      appearance: none;
      cursor: pointer;
      height: 100%;
      //opacity: 0;
      position: absolute;
      width: 100%;
    }

    .unchecked, .checked {
      color: #444444;
      font-size: 25px;
    }

    .checked {
      display: none;
    }

    input:hover ~ .unchecked, input:hover ~ .checked {
      color: #272727;
    }

    input:checked ~ .unchecked {
      display: none;
    }

    input:checked ~ .checked {
      display: block;
    }

    label {
      margin: 0 0 0 6px;
    }
  }

  .select, .text {
    button, input, textarea {
      appearance: none;
      background: none;
      border: 0.6px solid #C6C6C6;
      border-radius: 6px;
      color: #272727;
      display: block;
      padding: 11px 15px;
      resize: none;
      width: 100%;
    }
  }

  .select {
    position: relative;

    button {
      display: flex;
      justify-content: space-between;
      position: relative;
      text-align: left;

      .body {
        flex-grow: 2;
      }

      .caption-icon {
        margin: 0 8px 0 0;
      }
    
      .action-icon {
        margin: 0 0 0 8px;
      }
    }

    ul {
      background: #FFFFFF;
      border: 0.6px solid #C6C6C6;
      border-radius: 6px;
      display: none;
      list-style-type: none;
      margin: 8px 0 0 0;
      max-height: 202.5px;
      overflow: scroll;
      padding: 0;
      position: absolute;
      width: 100%;

      li {
        padding: 11px 15px;
        border-bottom: 0.6px solid #C6C6C6;
      }

      li:last-child {
        border-bottom: none;
      }
    }

    select {
      display: none;
    }

    .icons {
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 11.6px 15.6px;
    }
  }
}