.ds-info {
  padding: 0 12px;

  .label {
    font-size: 12px;
    line-height: 12px;
  }

  .text {
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
  }
}