section.ds-logo-carousel {
  margin: 15px 0 0 0;

  .row {
    border-radius: 8px;
    flex-wrap: nowrap;
    overflow: scroll;

    article {
      background: #F4F4F6;
      border-radius: 8px;
      height: 140px;
      margin: 0 7.5px;
      width: 140px;

      img {
        width: 60px;
      }
    }
  }

  .row::-webkit-scrollbar {
    display: none;
  }
}