@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

:root {
  --bs-link-color: #272727;
  --bs-link-hover-color: #272727;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

.row > * {
  padding: 0 15px 0 15px;
}

.display {
  display: block !important;
}

a {
  //color: #272727;
}

header.ds-header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 30px 0;

  a {
    text-decoration: none;
  }

  .ds-logo {
    .ds-icon {
      height: 42px;
      vertical-align: top;
      width: 42px;
    }

    .ds-text {
      display: inline-block;
      font-size: 28px;
      font-weight: 900;
      line-height: 28px;
      padding: 5px 0 9px 0;
      text-transform: lowercase;
    }
  }

  .ds-hamburger {
    display: flex;
    flex-direction: column;
    height: 42px;
    justify-content: space-between;
    margin: 0 12px;
    padding: 19px 0 12px 0;
    width: 20px;

    .ds-line {
      background: #272727;
      border-radius: 0.25px;
      height: 3px;
    }
  }
}

section.ds-full-width-image {
  border-radius: 8px;
  overflow: hidden;

  .ds-background-image {
    width: 100%;
  }
}

.ds-link {
  background: #F4F4F6;
  border-radius: 8px;
  display: block;
  margin: 15px 0 0 0;
  padding: 15px 12px;
  text-decoration: none;
}

.ds-menu {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(7.5px);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 72px;
}