@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Lato:wght@400;700;900&display=swap');

:root {
  --bs-link-color: #272727;
  --bs-link-hover-color: #272727;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

.row > * {
  padding: 0 15px 0 15px;
}

.display {
  display: block !important;
}

a {
  //color: #272727;
}

header.ds-header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 30px 0;

  a {
    text-decoration: none;
  }

  .logo {
    img {
      height: 42px;
      vertical-align: top;
      width: 42px;
    }

    div {
      display: inline-block;
      font-size: 28px;
      font-weight: 900;
      line-height: 28px;
      padding: 4px 0 10px 0;
      text-transform: lowercase;
    }
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    height: 42px;
    justify-content: space-between;
    margin: 0 12px;
    padding: 18px 0 13px 0;
    width: 20px;

    div {
      background: #272727;
      border-radius: 0.25px;
      height: 3px;
    }
  }
}

footer.ds-footer {
  background: #AE9090;
  padding: 50px 0 50px 0;

  .ds-link {
    background: #FFFFFF;
  }
}

section.ds-full-width-image {
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.ds-link, .ds-small-link {
  background: #F4F4F6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;

  .text {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .title {
      font-family: 'Catamaran', sans-serif;
      font-weight: 600;
    }
  
    .description {
      color: #444444;
      font-family: 'Lato', sans-serif;
    }
  }

  .action-icon {
    align-items: center;
    display: flex;
  }
}

.ds-link {
  margin: 15px 0 0 0;
  padding: 15px 12px;

  .title {
    font-size: 18px;
    line-height: 22px;
  }

  .description {
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 15px;
  }

  .action-icon {
    font-size: 18px;
  }
}

.ds-menu {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(7.5px);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 72px;

  .ds-link:first-child {
    background: #E1E1E1;
    margin: 30px 0 0 0;
  }
}

.ds-title {
  ._ds-title title {

  }
  ._ds-title subtitle {

  }
}